{ ;; Cryptocurrencies
 :btc {:type :crypto, :currency-code "BTC", :symbol "₿", :minor-units 8},
 ;; ISO 4217 currencies
 :aed {:type :iso-4217, :currency-code "AED", :minor-units 2},
 :afn {:type :iso-4217, :currency-code "AFN", :minor-units 2},
 :all {:type :iso-4217, :currency-code "ALL", :minor-units 2},
 :amd {:type :iso-4217, :currency-code "AMD", :minor-units 2},
 :ang {:type :iso-4217, :currency-code "ANG", :minor-units 2},
 :aoa {:type :iso-4217, :currency-code "AOA", :minor-units 2},
 :ars {:type :iso-4217, :currency-code "ARS", :minor-units 2},
 :aud {:type :iso-4217, :currency-code "AUD", :minor-units 2},
 :awg {:type :iso-4217, :currency-code "AWG", :minor-units 2},
 :azn {:type :iso-4217, :currency-code "AZN", :minor-units 2},
 :bam {:type :iso-4217, :currency-code "BAM", :minor-units 2},
 :bbd {:type :iso-4217, :currency-code "BBD", :minor-units 2},
 :bdt {:type :iso-4217, :currency-code "BDT", :minor-units 2},
 :bgn {:type :iso-4217, :currency-code "BGN", :minor-units 2},
 :bhd {:type :iso-4217, :currency-code "BHD", :minor-units 3},
 :bif {:type :iso-4217, :currency-code "BIF", :minor-units 0},
 :bmd {:type :iso-4217, :currency-code "BMD", :minor-units 2},
 :bnd {:type :iso-4217, :currency-code "BND", :minor-units 2},
 :bob {:type :iso-4217, :currency-code "BOB", :minor-units 2},
 :bov {:type :iso-4217, :currency-code "BOV", :minor-units 2},
 :brl {:type :iso-4217, :currency-code "BRL", :minor-units 2},
 :bsd {:type :iso-4217, :currency-code "BSD", :minor-units 2},
 :btn {:type :iso-4217, :currency-code "BTN", :minor-units 2},
 :bwp {:type :iso-4217, :currency-code "BWP", :minor-units 2},
 :byn {:type :iso-4217, :currency-code "BYN", :minor-units 2},
 :bzd {:type :iso-4217, :currency-code "BZD", :minor-units 2},
 :cad {:type :iso-4217, :currency-code "CAD", :minor-units 2},
 :cdf {:type :iso-4217, :currency-code "CDF", :minor-units 2},
 :che {:type :iso-4217, :currency-code "CHE", :minor-units 2},
 :chf {:type :iso-4217, :currency-code "CHF", :minor-units 2},
 :chw {:type :iso-4217, :currency-code "CHW", :minor-units 2},
 :clf {:type :iso-4217, :currency-code "CLF", :minor-units 4},
 :clp {:type :iso-4217, :currency-code "CLP", :minor-units 0},
 :cny {:type :iso-4217, :currency-code "CNY", :minor-units 2},
 :cop {:type :iso-4217, :currency-code "COP", :minor-units 2},
 :cou {:type :iso-4217, :currency-code "COU", :minor-units 2},
 :crc {:type :iso-4217, :currency-code "CRC", :minor-units 2},
 :cuc {:type :iso-4217, :currency-code "CUC", :minor-units 2},
 :cup {:type :iso-4217, :currency-code "CUP", :minor-units 2},
 :cve {:type :iso-4217, :currency-code "CVE", :minor-units 2},
 :czk {:type :iso-4217, :currency-code "CZK", :minor-units 2},
 :djf {:type :iso-4217, :currency-code "DJF", :minor-units 0},
 :dkk {:type :iso-4217, :currency-code "DKK", :minor-units 2},
 :dop {:type :iso-4217, :currency-code "DOP", :minor-units 2},
 :dzd {:type :iso-4217, :currency-code "DZD", :minor-units 2},
 :egp {:type :iso-4217, :currency-code "EGP", :minor-units 2},
 :ern {:type :iso-4217, :currency-code "ERN", :minor-units 2},
 :etb {:type :iso-4217, :currency-code "ETB", :minor-units 2},
 :eur {:type :iso-4217, :currency-code "EUR", :minor-units 2},
 :fjd {:type :iso-4217, :currency-code "FJD", :minor-units 2},
 :fkp {:type :iso-4217, :currency-code "FKP", :minor-units 2},
 :gbp {:type :iso-4217, :currency-code "GBP", :minor-units 2},
 :gel {:type :iso-4217, :currency-code "GEL", :minor-units 2},
 :ghs {:type :iso-4217, :currency-code "GHS", :minor-units 2},
 :gip {:type :iso-4217, :currency-code "GIP", :minor-units 2},
 :gmd {:type :iso-4217, :currency-code "GMD", :minor-units 2},
 :gnf {:type :iso-4217, :currency-code "GNF", :minor-units 0},
 :gtq {:type :iso-4217, :currency-code "GTQ", :minor-units 2},
 :gyd {:type :iso-4217, :currency-code "GYD", :minor-units 2},
 :hkd {:type :iso-4217, :currency-code "HKD", :minor-units 2},
 :hnl {:type :iso-4217, :currency-code "HNL", :minor-units 2},
 :htg {:type :iso-4217, :currency-code "HTG", :minor-units 2},
 :huf {:type :iso-4217, :currency-code "HUF", :minor-units 2},
 :idr {:type :iso-4217, :currency-code "IDR", :minor-units 2},
 :ils {:type :iso-4217, :currency-code "ILS", :minor-units 2},
 :inr {:type :iso-4217, :currency-code "INR", :minor-units 2},
 :iqd {:type :iso-4217, :currency-code "IQD", :minor-units 3},
 :irr {:type :iso-4217, :currency-code "IRR", :minor-units 2},
 :isk {:type :iso-4217, :currency-code "ISK", :minor-units 0},
 :jmd {:type :iso-4217, :currency-code "JMD", :minor-units 2},
 :jod {:type :iso-4217, :currency-code "JOD", :minor-units 3},
 :jpy {:type :iso-4217, :currency-code "JPY", :minor-units 0},
 :kes {:type :iso-4217, :currency-code "KES", :minor-units 2},
 :kgs {:type :iso-4217, :currency-code "KGS", :minor-units 2},
 :khr {:type :iso-4217, :currency-code "KHR", :minor-units 2},
 :kmf {:type :iso-4217, :currency-code "KMF", :minor-units 0},
 :kpw {:type :iso-4217, :currency-code "KPW", :minor-units 2},
 :krw {:type :iso-4217, :currency-code "KRW", :minor-units 0},
 :kwd {:type :iso-4217, :currency-code "KWD", :minor-units 3},
 :kyd {:type :iso-4217, :currency-code "KYD", :minor-units 2},
 :kzt {:type :iso-4217, :currency-code "KZT", :minor-units 2},
 :lak {:type :iso-4217, :currency-code "LAK", :minor-units 2},
 :lbp {:type :iso-4217, :currency-code "LBP", :minor-units 2},
 :lkr {:type :iso-4217, :currency-code "LKR", :minor-units 2},
 :lrd {:type :iso-4217, :currency-code "LRD", :minor-units 2},
 :lsl {:type :iso-4217, :currency-code "LSL", :minor-units 2},
 :lyd {:type :iso-4217, :currency-code "LYD", :minor-units 3},
 :mad {:type :iso-4217, :currency-code "MAD", :minor-units 2},
 :mdl {:type :iso-4217, :currency-code "MDL", :minor-units 2},
 :mga {:type :iso-4217, :currency-code "MGA", :minor-units 2},
 :mkd {:type :iso-4217, :currency-code "MKD", :minor-units 2},
 :mmk {:type :iso-4217, :currency-code "MMK", :minor-units 2},
 :mnt {:type :iso-4217, :currency-code "MNT", :minor-units 2},
 :mop {:type :iso-4217, :currency-code "MOP", :minor-units 2},
 :mru {:type :iso-4217, :currency-code "MRU", :minor-units 2},
 :mur {:type :iso-4217, :currency-code "MUR", :minor-units 2},
 :mvr {:type :iso-4217, :currency-code "MVR", :minor-units 2},
 :mwk {:type :iso-4217, :currency-code "MWK", :minor-units 2},
 :mxn {:type :iso-4217, :currency-code "MXN", :minor-units 2},
 :mxv {:type :iso-4217, :currency-code "MXV", :minor-units 2},
 :myr {:type :iso-4217, :currency-code "MYR", :minor-units 2},
 :mzn {:type :iso-4217, :currency-code "MZN", :minor-units 2},
 :nad {:type :iso-4217, :currency-code "NAD", :minor-units 2},
 :ngn {:type :iso-4217, :currency-code "NGN", :minor-units 2},
 :nio {:type :iso-4217, :currency-code "NIO", :minor-units 2},
 :nok {:type :iso-4217, :currency-code "NOK", :minor-units 2},
 :npr {:type :iso-4217, :currency-code "NPR", :minor-units 2},
 :nzd {:type :iso-4217, :currency-code "NZD", :minor-units 2},
 :omr {:type :iso-4217, :currency-code "OMR", :minor-units 3},
 :pab {:type :iso-4217, :currency-code "PAB", :minor-units 2},
 :pen {:type :iso-4217, :currency-code "PEN", :minor-units 2},
 :pgk {:type :iso-4217, :currency-code "PGK", :minor-units 2},
 :php {:type :iso-4217, :currency-code "PHP", :minor-units 2},
 :pkr {:type :iso-4217, :currency-code "PKR", :minor-units 2},
 :pln {:type :iso-4217, :currency-code "PLN", :minor-units 2},
 :pyg {:type :iso-4217, :currency-code "PYG", :minor-units 0},
 :qar {:type :iso-4217, :currency-code "QAR", :minor-units 2},
 :ron {:type :iso-4217, :currency-code "RON", :minor-units 2},
 :rsd {:type :iso-4217, :currency-code "RSD", :minor-units 2},
 :rub {:type :iso-4217, :currency-code "RUB", :minor-units 2},
 :rwf {:type :iso-4217, :currency-code "RWF", :minor-units 0},
 :sar {:type :iso-4217, :currency-code "SAR", :minor-units 2},
 :sbd {:type :iso-4217, :currency-code "SBD", :minor-units 2},
 :scr {:type :iso-4217, :currency-code "SCR", :minor-units 2},
 :sdg {:type :iso-4217, :currency-code "SDG", :minor-units 2},
 :sek {:type :iso-4217, :currency-code "SEK", :minor-units 2},
 :sgd {:type :iso-4217, :currency-code "SGD", :minor-units 2},
 :shp {:type :iso-4217, :currency-code "SHP", :minor-units 2},
 :sle {:type :iso-4217, :currency-code "SLE", :minor-units 2},
 :sos {:type :iso-4217, :currency-code "SOS", :minor-units 2},
 :srd {:type :iso-4217, :currency-code "SRD", :minor-units 2},
 :ssp {:type :iso-4217, :currency-code "SSP", :minor-units 2},
 :stn {:type :iso-4217, :currency-code "STN", :minor-units 2},
 :svc {:type :iso-4217, :currency-code "SVC", :minor-units 2},
 :syp {:type :iso-4217, :currency-code "SYP", :minor-units 2},
 :szl {:type :iso-4217, :currency-code "SZL", :minor-units 2},
 :thb {:type :iso-4217, :currency-code "THB", :minor-units 2},
 :tjs {:type :iso-4217, :currency-code "TJS", :minor-units 2},
 :tmt {:type :iso-4217, :currency-code "TMT", :minor-units 2},
 :tnd {:type :iso-4217, :currency-code "TND", :minor-units 3},
 :top {:type :iso-4217, :currency-code "TOP", :minor-units 2},
 :try {:type :iso-4217, :currency-code "TRY", :minor-units 2},
 :ttd {:type :iso-4217, :currency-code "TTD", :minor-units 2},
 :twd {:type :iso-4217, :currency-code "TWD", :minor-units 2},
 :tzs {:type :iso-4217, :currency-code "TZS", :minor-units 2},
 :uah {:type :iso-4217, :currency-code "UAH", :minor-units 2},
 :ugx {:type :iso-4217, :currency-code "UGX", :minor-units 0},
 :usd {:type :iso-4217, :currency-code "USD", :minor-units 2},
 :usn {:type :iso-4217, :currency-code "USN", :minor-units 2},
 :uyi {:type :iso-4217, :currency-code "UYI", :minor-units 0},
 :uyu {:type :iso-4217, :currency-code "UYU", :minor-units 2},
 :uyw {:type :iso-4217, :currency-code "UYW", :minor-units 4},
 :uzs {:type :iso-4217, :currency-code "UZS", :minor-units 2},
 :ved {:type :iso-4217, :currency-code "VED", :minor-units 2},
 :ves {:type :iso-4217, :currency-code "VES", :minor-units 2},
 :vnd {:type :iso-4217, :currency-code "VND", :minor-units 0},
 :vuv {:type :iso-4217, :currency-code "VUV", :minor-units 0},
 :wst {:type :iso-4217, :currency-code "WST", :minor-units 2},
 :xaf {:type :iso-4217, :currency-code "XAF", :minor-units 0},
 :xag {:type :iso-4217, :currency-code "XAG", :minor-units nil},
 :xau {:type :iso-4217, :currency-code "XAU", :minor-units nil},
 :xba {:type :iso-4217, :currency-code "XBA", :minor-units nil},
 :xbb {:type :iso-4217, :currency-code "XBB", :minor-units nil},
 :xbc {:type :iso-4217, :currency-code "XBC", :minor-units nil},
 :xbd {:type :iso-4217, :currency-code "XBD", :minor-units nil},
 :xcd {:type :iso-4217, :currency-code "XCD", :minor-units 2},
 :xdr {:type :iso-4217, :currency-code "XDR", :minor-units nil},
 :xof {:type :iso-4217, :currency-code "XOF", :minor-units 0},
 :xpd {:type :iso-4217, :currency-code "XPD", :minor-units nil},
 :xpf {:type :iso-4217, :currency-code "XPF", :minor-units 0},
 :xpt {:type :iso-4217, :currency-code "XPT", :minor-units nil},
 :xsu {:type :iso-4217, :currency-code "XSU", :minor-units nil},
 :xts {:type :iso-4217, :currency-code "XTS", :minor-units nil},
 :xua {:type :iso-4217, :currency-code "XUA", :minor-units nil},
 :xxx {:type :iso-4217, :currency-code "XXX", :minor-units nil},
 :yer {:type :iso-4217, :currency-code "YER", :minor-units 2},
 :zar {:type :iso-4217, :currency-code "ZAR", :minor-units 2},
 :zmw {:type :iso-4217, :currency-code "ZMW", :minor-units 2},
 :zwg {:type :iso-4217, :currency-code "ZWG", :minor-units 2},
 :zwl {:type :iso-4217, :currency-code "ZWL", :minor-units 2}}
